<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cavecat.dao.BoardDAO">

	<select id="selectAll" resultType="board">
		SELECT
			seq AS sequence,
			title,
			content AS text,
			read_count AS readCount,
			reg_id AS registor,
			mod_id AS modifier,
			reg_ymdt AS registeredDate,
			mod_ymdt AS modifiedDate
		FROM
			board
		WHERE
			del_yn = 'n'
		ORDER BY seq DESC
	</select>
	
	<select id="selectOne" resultType="board" parameterType="Long">
		SELECT
			seq AS sequence,
			title,
			content AS text,
			short_url AS shortUrl,
			read_count AS readCount,
			reg_id AS registor,
			mod_id AS modifier,
			reg_ymdt AS registeredDate,
			mod_ymdt AS modifiedDate
		FROM
			board
		WHERE
			seq = #{sequence}
			AND del_yn = 'n'
	</select>
	
	<insert id="insert" parameterType="board" useGeneratedKeys="true" keyColumn="seq" keyProperty="sequence">
		INSERT INTO
			board(
				title,
				content,
				reg_id,
				mod_id
			)
			VALUES(
				#{title},
				#{text},
				#{registor},
				#{modifier}
			)
	</insert>
	
	<update id="update" parameterType="board">
		UPDATE
			board
		<set>
			<if test="@org.apache.commons.lang3.StringUtils@isEmpty(modifier)">mod_id=#{modifier},</if>
			<if test="@org.apache.commons.lang3.StringUtils@isEmpty(title)">title=#{title},</if>
      		<if test="@org.apache.commons.lang3.StringUtils@isEmpty(text)">content=#{text},</if>
      		<if test="@org.apache.commons.lang3.StringUtils@isEmpty(shortUrl)">short_url=#{shortUrl},</if>
      		<if test="@org.apache.commons.lang3.StringUtils@isEmpty(delYn)">del_yn=#{delYn}</if>
		</set>
		WHERE
			seq = #{sequence}
	</update>
	
	<update id="updateCount" parameterType="Long">
		UPDATE
			board
		SET
			read_count = read_count + 1
		WHERE
			seq = #{sequence}
	</update>
	
	<delete id="delete" parameterType="Long">
		DELETE
		FROM
			board
		WHERE
			seq = #{sequence}
	</delete>
	
</mapper>
